mixin user-card(user)
  .mentor
    .row.mentor-item-row
      .col-xs-3.text-center.mentor-info
        div
          img(src=user.avatar width='100' height='100' alt='Avatar')
        .rate
          strong= `$ ${user.rate}`
          small &nbsp;/ hour
          br
          a.btn.btn-success.messageBtn(href=`/admin/users/${user.id}/update`) Edit Profile       
      .col-xs-9.mentor-details
        a.name(href=`/admin/users/${user.id}/update`)= user.full_name
        span &nbsp;
        .rating
          - for (let x = 0; x < user.rating; x++)
              span  ★
        div Role: #{user.role}
