mixin user-card(user)
  .mentor
    .row.mentor-item-row
      .col-xs-3.text-center.mentor-info
        div
          img(src=user.avatar width='100' height='100' alt='Avatar')
        .rate
          strong= `$ ${user.rate}`
          small &nbsp;/ hour
          br
          a.btn.btn-success.messageBtn(href=`#modal-${user.id}` data-toggle="modal" data-target=`#modal-${user.id}`) View Profile       
      .col-xs-9.mentor-details
        a.name(href=`#modal-${user.id}` data-toggle="modal" data-target=`#modal-${user.id}`)= user.full_name
        span &nbsp;&nbsp;
        .about= user.about.length > 100 ? user.about.slice(0, 99) + '...' : user.about
        .expertise
          for skill in user.skills
            .badge.customizeBadge
              a.removeDec(href=`/users?skill=${skill.id}`)= skill.title
            span &nbsp;&nbsp;

    .modal.fade(id=`modal-${user.id}` tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
            h4#myModalLabel.modal-title More about #{user.full_name}
          .modal-body
            .text-center
              img.img-circle(src=user.avatar width='100', height='100')
              .text-left Skills: 
            .expertise
              for skill in user.skills
                .badge.customizeBadge
                  span.removeDec= skill.title
                span &nbsp;&nbsp;
            br
            br
            .text-center
              p.text-left
                strong Bio
                br
                span= user.about
              p.text-left
                strong Email:
                span &nbsp;&nbsp;
                span= user.email                

